html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

html,
body {
	color: $color-black;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}

body {
	padding-top: 70px;

	@include respond-max($sm-max) {
		padding-top: 90px;
	}
}

.app-container-fluid,
.app-content-wrapper {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.app-col {
	padding-left: 15px;
	padding-right: 15px;
}

.page-title {
	font-size: 40px;
	margin-bottom: 30px;
}

.section-title {
	font-size: 28px;
	margin-bottom: 30px;
}

.loading-icon {
	font-size: 40px;
	color: $color-blue-mid;
	text-align: center;
	margin: 0 0 30px 0;
}

.info-section {
	background-color: $color-white;

	&:nth-of-type(odd) {
		background-color: $color-grey-light;
	}
}
