.button {
	appearance: none;
	outline: 0;
	box-shadow: none;
	min-height: 40px;
	min-width: 90px;
	border: 0;
	padding: 5px 10px;
	background-color: $color-blue-mid;
	color: $color-white;
	border-radius: 0;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;

	&:hover,
	&:active,
	&:focus {
		outline: 0;
		box-shadow: none;
		border: 0;
		border-radius: 0;
		background-color: $color-blue-mid-2;
		text-decoration: none;
	}

	&.active {
		&,
		&:hover,
		&:active,
		&:focus {
			background-color: $color-blue-dark;
		}
	}
}
