.image-slider-item {
	display: block;
	margin-bottom: 30px;
	padding: 0 15px;

	&__link {
		display: block;

		&:hover,
		&:active,
		&:focus {
			.image-slider-item {
				&__link-image {
					transform: scale(1.05);
				}
			}
		}
	}

	&__link-image-wrap {
		position: relative;
		overflow: hidden;
		padding-top: 150%;
	}

	&__link-image-wrap--landscape {
		padding-top: 56.25%;
	}

	&__link-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		transition: transform 0.3s ease;
		object-fit: cover;
	}
}
